html {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
}

/* canvas {
  background-color: #f9a1ff;
  width: 700px;
  height: 700px;
  
} */

.options {
  display: flex;
}

/* .circle-picker {
  width: 150px;
} */

.brush_options {
  margin-right: 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eraser_option {
  margin-left: 0.4rem;
}

canvas {
  touch-action: none; /* verhindert Standard-Scroll- und Zoom-Gesten */
}

.header {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
}

.logo p {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.download_canvas_button {
  margin-left: 0.6rem;
}

.send_canvas_button {
  margin-left: 0.3rem;
}

button {
  border: 1px solid black;
  background-color: rgba(212, 212, 212, 0);
  border-radius: 0.2rem;
}

button:hover {
  background-color: rgba(212, 212, 212, 0.722);
}

button:active {
  background-color: rgb(166, 0, 255);
  color: white;
  transform: scale(0.98);
}

button.send_canvas_button::after {
  content: " ➔";
  color: rgb(166, 0, 255);
}

/* Sketches Component */
.sketches_wrapper {
  /* border: 5px solid red; */
  text-align: center;
}

.sketches_container {
  padding: 15px;
  padding-top: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  grid-auto-rows: minmax(100px, auto);
  /* border: 3px solid blue; */
}

.sketch_infos {
  padding: 5px; /* Adds space inside each info block */
}

.sketch_infos p {
  padding: 0;
  margin: 0;
  line-height: 1.6rem;
}

.sending_sketch_container {
  background-color: green;
}

.sending_sketch_container p {
  padding: 0;
  margin: 0;
  text-align: center;
  color: white;
}

.sketches_card {
  padding: 10px;
  border-radius: 8px;
}

.sketches_card:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.sketches_card img {
  max-width: 300px;
}

@media only screen and (max-width: 768px) {
  .sketches_container {
    padding: 13px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 13px;
    grid-auto-rows: minmax(50px, auto);
    /* border: 3px solid blue; */
  }

  .sketches_card img {
    max-width: 180px;
  }

  .sketch_infos p {
    margin: 0;
    padding: 0;
    line-height: 1.3rem;
    font-size: small;
  }
}

@media only screen and (max-width: 480px) {
  .header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 1.5rem;
  }

  .options {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .sketches_container {
    padding: 8px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    grid-auto-rows: minmax(50px, auto);
  }

  .sketches_card img {
    max-width: 100px;
  }

  .sketch_infos p {
    margin: 0;
    padding: 0;
    line-height: 1rem;
    font-size: x-small;
  }
}
