body {
  margin: 0;
  padding: 0;
  /* display: flex;
  place-items: center; */
}

/* canvas {
  background-color: #f9a1ff;
  width: 700px;
  height: 700px;
  
} */

canvas {
  touch-action: none; /* verhindert Standard-Scroll- und Zoom-Gesten */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
}

.logo h3 {
  padding: 0;
  margin: 0;
}
